<li>
  <h2>
    <a href="https://www.mercari.com/jp/brand/" class="pc-header-nav-root">ブランドから探す</a>
    <ul class="pc-header-nav-parent-wrap">
      <li class="pc-header-nav-parent">
        <h3>
          <a href="https://www.mercari.com/jp/brand/658/">シャネル</a>
        </h3>
      </li>
      <li class="pc-header-nav-parent">
        <h3>
          <a href="https://www.mercari.com/jp/brand/857/">ナイキ</a>
        </h3>
      </li>
    </ul>
  </h2>
</li>
