  <nav>
    <ul>
      <li class="download-app">
        <a href="http://app.adjust.io/xio2ii?campaign=iOS&amp;adgroup=common.footer"><img src="//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2960600120" width="35px" alt="">今すぐ無料ダウンロード！</a>
      </li>
              <li class="footer-cell">
  <h2 class="footer-head">メルカリについて</h2>
  <ul>
    <li>
      <a href="https://about.mercari.com/">会社概要（運営会社）</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/tos_paid_point/">メルカリ利用規約・有償ポイントに関する特約</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/tos_smartphone_support/">あんしんスマホサポート制度に関する利用特約</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/compliance/">コンプライアンスポリシー</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/data_security/">個人データの安全管理に係る基本方針</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/shikin_kessai/">資金決済法に基づく表示</a>
    </li>
    <li>
      <a href="https://about.mercari.com/csr/safety/">法令順守と犯罪抑止のために</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/jobs/">採用情報</a>
    </li>
  </ul>
</li>
<li class="footer-cell">
  <h2 class="footer-head">メルカリを見る</h2>
  <ul>
    <li>
      <a href="https://www.mercari.com/jp/category/">カテゴリー一覧</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/brand/">ブランド一覧</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/area/">出品地域一覧</a>
    </li>
    <li>
      <a href="https://jp-news.mercari.com/" target="_blank">公式ブログ</a>
    </li>
    <li>
      <a href="https://twitter.com/mercari_jp" target="_blank">公式Twitter</a>
    </li>
    <li>
      <a href="https://www.facebook.com/mercarijp" target="_blank">公式Facebook</a>
    </li>
  </ul>
</li>
<li class="footer-cell">
  <h2 class="footer-head">ヘルプ＆ガイド</h2>
  <ul>
    <li>
      <a href="https://www.mercari.com/jp/help_center/">メルカリガイド</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/logo-guidelines/">メルカリロゴ利用ガイドライン</a>
    </li>
    <li>
      <a href="https://about.mercari.com/press/news/">お知らせ</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/rakuraku-mercari/">らくらくメルカリ便とは</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/yuyu-mercari/">ゆうゆうメルカリ便とは</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/rakuraku-ogata/">大型らくらくメルカリ便とは</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/guide/car/">車体取引ガイド</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/refund-returns/">返品・返金ポリシー</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/safe/description/" target="_blank">メルカリあんしん・あんぜん宣言！</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/authenticity/">偽ブランド品撲滅への取り組み</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/box/">メルカリボックス</a>
    </li>
  </ul>
</li>
<li class="footer-cell">
  <h2 class="footer-head">国</h2>
  <ul class="footer-nav-lang">
    <li>
      <a href="https://www.mercari.com/"><img src="//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?2960600120" alt="" width="22">United States</a>
    </li>
    <li>
      <a href="https://www.mercari.com/uk/"><img src="//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?2960600120" alt="" width="22">United Kingdom</a>
    </li>
    <li>
      <a href="https://www.mercari.com/jp/" class="active"><img src="//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?2960600120" alt="" width="22">日本</a>
    </li>
  </ul>
</li>          </ul>
  </nav>
  <a href="https://www.mercari.com/jp/" class="footer-logo">
    <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2960600120" width="124" height="33" alt="mercari">
  </a>
  <p class="footer-copyright">
    <small>&copy; 2018 Mercari</small>
  </p>
</footer>


<a class="footer-sell-btn" href="https://www.mercari.com/jp/sell/">
  <div>出品</div>
  <i class="fas fa-camera fa-3x"></i>

</a>

<div class="overlay"></div>
