<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="default-container ">
  <header class="sp-header visible-sp has-search-nav">

    <div class="sp-header-inner clearfix">
      <h1 class="logo">
        <a href="https://www.mercari.com/jp/">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120" alt="mercari">
        </a>
      </h1>

      <div class="sp-header-user-nav clearfix">
        <a href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F" class="sp-header-btn btn-red">ログイン</a>
        <a href="https://www.mercari.com/jp/signup/" class="sp-header-btn sp-header-signup">新規会員</a>
      </div>
    </div>
    <div class="search-bar">
      <form action="https://www.mercari.com/jp/search/" class="sp-header-form">
        <input type="search" name="keyword" value="" placeholder="何をお探しですか？" class="sp-header-search input-default">
        <i class="fa fa-search"></i>
      </form>
    </div>

    <nav class="sp-header-nav search-links">
      <a href="/jp/category/" data-ga="element" data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_カテゴリから探す">カテゴリから探す</a>
      <a href="/jp/brand/" data-ga="element" data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ブランドから探す">ブランドから探す</a>
    </nav>
  </header>

  <header class="pc-header visible-pc">
    <div class="pc-header-inner">
      <div class="clearfix">
        <h1 class="l-left">
          <a href="https://www.mercari.com/jp/">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120" alt="mercari" width="134" height="36">
          </a>
        </h1>

        <form action="https://www.mercari.com/jp/search/" class="pc-header-form l-right">
          <input type="search" name="keyword" value="" placeholder="キーワードから探す" class="input-default">
          <i class="fa fa-search"></i>
        </form>
      </div>

      <div class="pc-header-nav-box clearfix">
        <nav class="l-left">
          <ul class="pc-header-nav">
             <li>
              <h2>
                <a href="#" class="pc-header-nav-root">カテゴリーから探す</a>
              </h2>
              <ul class ="pc-header-nav-parent-wrap" data-mega="1" style="width: auto;">
                <li></li>
              </ul>
            </li>
                         <li>
              <h2>
                <a href="#" class="pc-header-nav-root">ブランドから探す</a>
              </h2>
              <ul class ="pc-header-nav-parent-wrap" data-mega="1" style="width: auto;">
                <li></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="l-right">
          <ul class="pc-header-login-nav">
            <li>
              <a href="https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F" class="sp-header-btn btn-red">ログイン</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/signup/" class="sp-header-btn header-signup">新規会員登録</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
