<li>
  <h2>
    <a href="https://www.mercari.com/jp/category/" class="pc-header-nav-root">カテゴリーから探す</a>
  </h2>
  <ul class="pc-header-nav-parent-wrap" data-mega="1">
    <li class="pc-header-nav-parent">
      <h3>
        <a href="https://www.mercari.com/jp/category/1/">レディース</a>
      </h3>
      <ul class="pc-header-nav-child-wrap" data-mega="2">
        <li class="pc-header-nav-child">
          <a href="https://www.mercari.com/jp/category/11/">トップス</a>
         <ul class="pc-header-nav-grand-child-wrap" data-mega="3">
           <li class="pc-header-nav-grand-child">
             <a href="https://www.mercari.com/jp/category/119/">Tシャツ/カットソー(半袖/袖なし)</a>
           </li>
         </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>

