<li>
  <h2>
    <%= link_to "https://www.mercari.com/jp/category/", class: "pc-header-nav-root" do %>
      カテゴリーから探す
    <% end %>
  </h2>
  <ul class="pc-header-nav-parent-wrap" data-mega="1">
    <li class="pc-header-nav-parent">
      <h3>
        <%= link_to "https://www.mercari.com/jp/category/1/" do %>
          レディース
        <% end %>
      </h3>
      <ul class="pc-header-nav-child-wrap" data-mega="2">
        <li class="pc-header-nav-child">
          <%= link_to "https://www.mercari.com/jp/category/11/" do %>
            トップス
          <% end %>
         <ul class="pc-header-nav-grand-child-wrap" data-mega="3">
           <li class="pc-header-nav-grand-child">
             <%= link_to "https://www.mercari.com/jp/category/119/" do %>
               Tシャツ/カットソー(半袖/袖なし)
             <% end %>
           </li>
         </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>

